{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Configuraciones</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/icono.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<nav class="navbar navbar-light nav">
	  <a class="navbar-brand">SISTEMA DSS ORIENTADO A LOS DATOS</a>
	  <form class="form-inline">
	    <button class="btn " type="submit">Página principal</button>
	    <button class="btn " type="submit">Cerrar sesión</button>
	  </form>
	</nav>
    

	<div class="limiter">
		<div class="container-login">
			<div class="wrap-login">

                <form method="POST" class="login-form validate-form" style="margin-top: -100px !important; margin-bottom: 50px;">
                    {% csrf_token %}
					<span class="login-form-title" style="font-family: Montserrat-Bold; color: #4E5B6D;">
						Ingrese las configuraciones del dolar
					</span>

					<div class="wrap-input validate-input" data-validate = "Se requiere un valor">
						<input class="input" name="k" value="{{value.k}}" type="text"  placeholder="k">
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fas fa-cog" aria-hidden="true"></i>
							
						</span>
                    </div>
                    {% if errores.kmenor0 %}
                        <span style="color: red">{{ errores.kmenor0 }}</span>
                        <br>
                    {% endif %}
                    {% if errores.kmenorn %}
                        <span style="color: red">{{ errores.kmenorn }}</span>
                        <br>
                    {% endif %}

					<div class="wrap-input validate-input" data-validate = "Se requiere un valor">
						<input class="input" name="j" value="{{value.j}}" type="text" placeholder="j">
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fas fa-cog" aria-hidden="true"></i>
						</span>
                    </div>
                    {% if errores.jmenor0 %}
                        <span style="color: red">{{ errores.jmenor0 }}</span>
                        <br>
                    {% endif %}
                    {% if errores.jmenornk %}
                        <span style="color: red">{{ errores.jmenornk }}</span>
                        <br>
                    {% endif %}

					<div class="wrap-input validate-input" data-validate = "Se requiere un valor">
						<input class="input" name="alfa" value="{{value.alfa}}" type="text"  placeholder="α">
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fas fa-cog" aria-hidden="true"></i>
							
						</span>
                    </div>
                    {% if errores.alfamenor0 %}
                        <span style="color: red">{{ errores.alfamenor0 }}</span>
                        <br>
                    {% endif %}
                    {% if errores.alfamayor1 %}
                        <span style="color: red">{{ errores.alfamayor1 }}</span>
                        <br>
                    {% endif %}

					<div class="wrap-input validate-input" data-validate = "Se requiere un valor">
						<input class="input" name="pse" value="{{value.pse}}" type="text"  placeholder="Pronóstico PSE">
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fas fa-cog" aria-hidden="true"></i>
							
						</span>
					</div>
                    
					<div class="wrap-input validate-input" data-validate = "Se requiere un valor">
						<input class="input" name="m" value="{{value.m}}" type="text"  placeholder="m">
						<span class="focus-input1"></span>
						<span class="symbol-input">
							<i class="fas fa-cog" aria-hidden="true"></i>
						</span>
					</div>



					
					<div class="container-login-form-btn">
						<button name="aceptar" class="login-form-btn">
							Aceptar
						</button>
					</div>

					<div class="text-center p-t-136">

					</div>
				</form>
			</div>
		</div>
	</div>
	
	

</body>
</html>